/* 网页大背景 */
.ant-alert, body {
    color: #eee !important;
}
h1,
h2,
h3,
h4,
h5,
h6{
    color: #eee !important;
}
body app-root app-bbs>div {
    background-color: #222 !important;
}
.nav {
    border: none !important;
}
.languageS {
    border: 1px solid #444;
}
.languageS ,
.languageS *{
    background-color: #222 !important;
}
/*滚动条样式 */
body::-webkit-scrollbar {
    width: 10px !important;
    height: 10px;
}
    /*正常情况下滑块的样式*/
body::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
}
    /*鼠标悬浮在该类指向的控件上时滑块的样式*/
body:hover::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
}
    /*鼠标悬浮在滑块上时滑块的样式*/
body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
    /*正常时候的主干部分*/
body::-webkit-scrollbar-track {
    background-color: #222;
}
    /*鼠标悬浮在滚动条上的主干部分*/
body::-webkit-scrollbar-track:hover {
    background-color: #222;
}

/* 页面头部，有搜索框的部分 */
.top{
    background-color: #252525 !important;
}
ul > li span{
    color: #eee ;
}
ul > .activeNav span{
    color: #1979ff !important;
}
.search_box {
    background-color: #333 !important;
    border: 1px solid #444 !important;
}
.search_box > div {
    border-right: none !important;
}
.type_search {
    color: #aaa !important;
    background-color: #444;
    border-radius: 8px 0 0 8px;
    /* 这里可以要做一个箭头图标!!! */
}
.type_search ul{
    background-color: #222 !important;
}
.search_box > input {
    background-color: #333;
}
.search_box > .button {
    background-color: #1979ff !important;
}
.userInfoMenuWrap *{
    background-color: #222 !important;
}
.userInfoMenuWrap > *{
    box-shadow: 0px 3px 10px 10px rgba(0, 0, 0, .2) !important;
    
    border: 1px solid #555 !important;
}
.userInfoMenu > div:nth-child(2) {
    border-bottom: 1px solid #444 !important;
}
.userInfoMenuWrap .userName{
    color: #eee !important;
}
.main .brm {
    color: #bbb;
}
/* 正文部分 */
.comment {
    background-color: #333 !important;
    border: 1px solid #555 !important;
}
.box_title {
    background-color: #333 !important;
    border-bottom: 1px solid #555 !important;
}
.box_title li {
    color: #ddd;
}
.comment_nav > ul > li {
    color: #ddd !important;
}
.comment_nav > ul > .activeNav {
    border-bottom: 4px solid #1979ff;
}
.comment_nav .comment_l > span  > span {
    color: #ddd !important;
}
.post_lin_pc {
    color: #ddd !important;
}
.post .postWrap {
    /* border-bottom: 1px solid #444 !important; */
    border-bottom: none !important;
}
/* 屏蔽点燃效果 */
.main_left div .post_pc .post:hover,
.main .postList .post:hover{
    background-color: #333 !important;
}

.myPage button ,
.position_page button,
.postPage button,
.page_p button,
.page button,
.myPagination button{
    background: none !important;
    background-color: #444 !important;
    border: 1px solid #555;
    color: #aaa;
    box-shadow: none !important;
}
.myPage form,
.position_page form ,
.postPage form ,
.page_p form ,
.page form ,
.myPagination form{
    color: #eee;
}
form input {
    background: none !important;
    background-color: #444 !important;
    color: #aaa;
}
.myPage button.active ,
.position_page button.active ,
.postPage button.active ,
.page_p button.active ,
.page button.active ,
.myPagination button.active{
    border: 3px solid #1979ff;
}
/* 侧边模块 */
.module_box {
    background-color: #333 !important;
    border: 1px solid #555 !important;
}
.title {
    color: #eee !important;
}
.main_right_item {
    border-bottom: 1px solid #444 !important;
}
.box_ul > li span {
    color: #eee;
}
.module_box .box_ul_type > li .box_su {
    color: #eee !important;
}
.box_rank > li > .rank_name {
    color: #eee;
}
/* ********************以上是针对首页面暗黑化，下面是板块界面*********************** */
.main .box {
    background-color: #333 !important;
    border: 1px solid #555 !important;
}
.row_one .link {
    color: #eee !important;
}
.row_three > span > span {
    color: #aaa !important;
}
/* ***********************下面是针对帖子浏览界面的黑化*************************** */
.pot_title{
    color: #eee !important;
}
.post_sb {
    color: #bbb !important;
}
.post_edit >*,
.post_edit span ,
.post_edit p {
    color :#eee !important;
}
.post_edit img {
    border-radius: 10px;
}
.levet > button {
    background-color: #345 !important;
}
.levet >input {
    
    background-color: #444 !important;
    border-color: #555 !important;
}
pre {
    border-radius: 8px;
}
code, pre {
    background-color: #222 !important;
    color: #fff;
}
.comment_box .comment_box_contet .comment_conten {
    border-bottom: 1px solid #444 !important;
}
/* **********************下面是评论列表的黑化************************ */
.reback_title {
    color: #eee !important;
}
.post_name {
    color: #eee !important;
}
.post img{
    border-radius: 10px;
}
.comment .post {
    border-bottom: 1px solid #444 !important;
}
.comment_box,
.comment_box_title{
    background: none !important;
    /* background-color: #444; */
    color: #eee !important;
    border-color: #444 !important;
}
.comment_form {
    background: none !important;
    background-color: #444 !important;
}
.flot_icon0 {
    background: none !important;
    background-color: rgba(0, 98, 255, 0.1) !important;
    border-radius: 4px !important;
    border: 1px solid #369
}
.flot_icon1 {
    background: none !important;
    background-color: rgba(255, 0, 0, .1) !important;
    border-radius: 4px !important;
    border: 1px solid #933
}
.flot_icon2 {
    background: none !important;
    background-color: rgba(255, 210, 0, 0.1) !important;
    border-radius: 4px !important;
    border: 1px solid #983
}
.flot_icon3 {
    background: none !important;
    background-color: rgba(0, 255, 13, 0.1) !important;
    border-radius: 4px !important;
    border: 1px solid #393
}
.flot_icon4 {
    background: none !important;
    background-color: rgba(200, 200, 200, .1) !important;
    border-radius: 4px !important;
    border: 1px solid #999
}
/* *********************写评论的页面************************ */
.tox-edit-area iframe{
    background-color: #cdcdcd !important;
}
.tox-editor-header *{
    background-color: #999 !important;
}
.yidun_intellisense >*{
    background-color: #444;
}

.yidun.yidun--light .yidun_tips {
    color: #fff;
}
.yidun_intellisense--light .yidun_intelli-control {
    border: 1px solid #555 !important;
    background-color: #444 !important;
}
.yidun_intellisense--light .yidun_intelli-icon,
.yidun_intellisense--light .yidun_intelli-icon * {
    background-color: #333 !important;
    transition: background-color .3s;
}
.yidun_intellisense--light:hover .yidun_intelli-icon,
.yidun_intellisense--light:hover .yidun_intelli-icon * {
    background-color: #1890ff !important;
}
.yidun_intellisense--light .yidun_intelli-tips {
    color: #eee !important;
}


.tox-statusbar{
    border-top: 1px solid #555 !important;
}
.tox-statusbar,
.tox-statusbar *{
    background-color: #222 !important;
    color: #eee !important;
}
.tox,
.tox-tinymce {
    border-color: #555 !important;
}
/* ****************我的消息界面****************** */
.user_info {
    background: none !important;
    background-color: #333 !important;
    border: 1px solid #555 !important;
}
.user_info .userName {
    color: #eee !important;
}

.contetn_left .user_info .ulContent .liItem span:first-child {
    color: #eee !important;
}
.contetn_left > ul {
    background-color: #333 !important;
    border:1px solid #555 !important;

}
.contetn_left > ul .activeNav span {
    color: #fff !important;
}
.contetn_right {
    background-color: #333 !important;
    border: 1px solid #555 !important;
}
.nav_title {
    border-bottom: 1px solid #555 !important;
}
.boxTitleMe {
    background-color: #333 !important;
}
.boxTitleMe li{
    color: #eee !important;
}
.subReply .postMe .postTitleMe .postLinMe .leftMe span:first-child {
    color: #eee !important;
}
.subReply .postMe .postTitleMe .postQuoteMe {
    color: #ddd !important;
}
.subReply {
    border-bottom: 1px solid #444 !important;
}
.subReply .postMe .formSubMe {
    background-color: #444 !important;
}
.formSubMe a.postTimeMe {
    color: #ddd !important;
}
/* 我的消息-帖子 */
.postPcMe .postMe .postTitleMe .postListMe .onePostMe {
    background: none !important;
    background-color: #444 !important;
}
.postPcMe .postMe .postTitleMe .postListMe .onePostMe .onePostItemWrap .oneUserName {
    color: #777 !important;
}
.postPcMe .postMe .postTitleMe .postListMe .onePostMe .formSubMe {
    background: none !important;
    background-color: rgba(0, 0, 0, .1) !important;
}
.postPcMe {
    border-bottom: 1px solid #444 !important;
    border-radius: 0 !important;
}
/* ********************我的贴子界面********************* */
.nav > li {
    color: #eee !important;
} 
.nav > li.activeNav {
    color: #1979ff !important;
} 
/* ********************板块内部（体验心得）******************** */
.cont > span {
    color: #eee !important;
}
.info .count {
    border-top: 1px dashed #555 !important;
}
.info .op_btn > button {
    color: #eee !important;
    background-color: #333 !important;
    border: 1px solid #555 !important;
}
.info .op_btn > button:hover {
    color: #1979ff !important;
    background-color: #333 !important;
    border: 1px solid #1979ff !important;
}
.op_box {
    border-bottom: 1px solid #444 !important;
}
.comment_nav .select_box{
    border: 1px solid #444 !important;
}
.select_box ul {
    background-color: #222 !important;
    border: 1px solid #444 !important;
}
/* 管理部分 */
.post_r {
    background-color: #555;
    padding-left: 10px;
    border-radius: 5px;
}
.post_r .dealDiv > ul {
    background-color: #222 !important;
    border: 1px solid #444 !important;
}
.post_r .dealDiv > ul li:hover{
    background-color: #333 !important;
}
/* 弹窗 */
section {
    background-color: #333 !important;
}
.content {
    color: #eee !important;
}
header {
    color: #eee !important;
}
.module_content_title > span {
    color: #bbb !important;
}
.module_content_radio > label ,
.check {
    color: #eee !important;
}
.textare ,
textarea{
    background-color: #444 !important;
    color: #eee !important;
    border: 1px solid #555 !important;
}
.radioButton .dis ,
.btnconten .dis ,
.prohibit .myBtn span:first-child{
    background-color: #444 !important;
    color: #eee !important;
    box-shadow: none !important;
}
/* *******************发帖页面*********************** */
.box > .title_top {
    border-bottom: 1px solid #444;
}
.box > .title_top .navadsf span{
    color: #eee ;
}
.select_box .item {
    color: #eee;
    border: 2px solid #555;
    border-radius: 4px !important;
}.ant-select-selection {
    background-color: #444 !important;
    border: 1px solid #555 !important;
}
.ant-input {
    border: 1px solid #555 !important;
}
.tox .tox-edit-area__iframe {
    background-color: #cdcdcd !important;
}
/* 我的帖子-我的回复 */
.replyList ,
.replyList *{
    background-color: #444 !important;
    color: #ccc !important ;
}
/* 我的消息-系统消息 */
.message_pc .post_top>span:first-child {
    color: #eee !important;

}
.message_pc .post_bottom .messagefmt {
    color: #bbb !important;
}
.message_pc .post {
    border-bottom: 1px solid #444 !important;
}
.letter .letter_item:hover { 
    /* 屏蔽点燃效果 */
    background-color: #333 !important;
}
/* 我的消息-私信 */
.letter .letter_item .letter_content .con_top .username {
    color: #eee !important;
}
.letter .letter_item .letter_content {
    border-bottom: 1px solid #444 !important;
}
/* 我的积分 */
.bbs_points .nav {
    background-color: #333 !important;
    border-bottom: 1px solid #444 !important;
}
.bbs_points .points_main .points .money .m_db .m_font .m_title {
    color: #bbb !important;
}
.bbs_points .points_main .points .money .m_db .m_font .m_number {
    color: #fff !important;
}
.ant-table-body *{
    border-color: #444 !important;
}
.ant-table-body .ant-table-thead *{
    background-color: #444 !important;
    color: #eee;
}
.ant-table {
    color: #fff !important;
}
.bbs_points .points_main .rule .rule_one {
    background: none !important;
}
.commentList .commentTitle {
    background-color: #333 !important;
    color: #eee !important;
    border-bottom: 1px solid #444 !important;
}
.commentList .commentWrap .commentText {
    color: #eee !important;
}
.commentList .commentWrap .formSub {
    background-color: #444 !important;
}
.commentList .commentWrap .formSub .postTime {
    color: #bbb !important;
}
.commentList .commentWrap .commentBor {
    border-bottom: 1px solid #444 !important;
}
.commentList .commentWrap:hover {
    background-color: #333 !important;
}
/* ***************板块管理**************** */
.manageMain .ant-tabs {
    color: #eee;
}
.main .manage{
    background-color: #333 !important;
    border: 1px solid #555;
    border-radius: 8px;
}
.main .manage .ant-tabs-bar {
    border-bottom: 1px solid #444;
}
.main .ant-form-item-label>label {
    color: #eee;
}
.main .manage input{
    color: #eee;
}
.main .manage .manageMain .prohibitUsers .userList .userRight{
    border: 1px solid #444 !important;
}
.main .manage .manageMain .prohibitUsers .userList .userRight .proUser {
    border: 1px solid #444 !important;
}
.ant-form-item ,
.ant-radio-group, .ant-radio-wrapper {
    color: #eee !important;
}

/* *******************END*********************** */